body{margin:0; padding:0;}
li{list-style:none;}
a{color:#000000;text-decoration: none;}
*{padding:0;margin:0}
.cle:after{content:"\200b";height:0;display:block;clear:both}
.cle{zoom:1}
/*背景图*/
.header{ 
    width:100%;
    position:relative;
  }
/*首页导航*/
.headers{width:100%;position:absolute;top:20px;}
.header_img{width:300px;margin:0 auto;}
.header_img img{width:300px;}
/*导航条*/
.nav{
	width:100%;
	position:absolute;top:60px;
	background:rgba(0,14,34,0.2);
}
.nav_s{
    width:100%;
    height:62px;
  	margin:0 auto;
}
.nav_s ul{
	margin-left:25%; 
}
.nav_s ul li{
	font-size:13px;
	float:left;
    line-height:62px;
	margin-right:5%;
}
.nav_s ul li a{color:white;letter-spacing:2px;position:relative;}
.nav_s  a span{
    width:0px;
	height:2px;
	margin:0 auto;
	display:block;
	position:absolute;
	top:22px;
	left:0;
	right:0;
	background:white;
	transition:.5s;
}
.nav_s a:hover span{
	width:100%;
}

/* 条栏 */
.widget{height:60px;background:#F4F4F4;}
.widget img{width:30px;height:30px;float:left}
.widget span{float:left;line-height:60px}

/* 大背景图片文字 */
/* 所有大图片 */
.widget-marv img{max-width:100%;min-width:100%;}
.widget-marv-hero__inner{top:0;left:0}
.widget-marv-hero__inners{padding-top:20%}
.widget-marv-hero__inners h2, h4, h6, p{
	font-weight:normal;
	letter-spacing:5px;
	color:black
}
.widget-marv-hero__inners h2{font-size:35px;letter-spacing:.3rem}
.widget-marv-hero__inners h4{font-size:20px}
.widget-marv-hero__inners h6{font-size:16px}
.widget-marv-hero__inners p{
  color:black;
	width:150px;
	height:45px;
	border:1px solid #000;
	line-height:45px;
	border-radius:3px;
	margin:30px auto 0;
}
/* button边框白色的 */
.widget-marv-hero__inners .btn_xg{border:1px solid #fff;}
/* 字体在右边的 */
.inner_right{top:0;left:50%}





/* ............. */
/* 主体内容 */
.section{
	margin:0 auto;
}
.section h2{
	letter-spacing:.5em;
	font-size: 26px;
	font-family: "Futura Std";
	font-weight: normal
}
/* 所有商品这个格式走 */
.arousel{transition:all 6s  linear}
.carousel-inner{transition:all 6s  linear}
.carousel-item{transition:all 6s  linear}
.carousel-control-prev,.carousel-control-next{
	width: 40px;
	height: 40px;
	top: 50%;
	border-radius:50%;
	transition:all 6s  linear
}
.carousel-indicators li{
	width: 0.6rem;
	height: 0.6rem;
	background-color: #fff;
	margin-left: 0.4rem;
	border-radius: 50%;
}
.carousel-indicators .active {
	background-color: #0aa1ed;
}
.prdouct_img{cursor: pointer;}
.prdouct_img img{
	width:80%;
	height:70%;
	display: block;
	margin: auto;
}
.prdouct_img h5,span{
	font-family: "Futura Std",
	sans-serif;font-size: 12px;
	letter-spacing:.2em;
	text-transform:uppercase;
	
}
/* button */
.border{border:1px solid #000 !important}
.prdouct_img .btn-label{
	 width:150px;
   border:1px solid #000;
	 line-height:40px;
	 padding:0 20px
}
.prdouct_img .btn-label:hover{
	box-shadow:0 -2px 8px 2px rgba(0,0,0,.15);
	transition:all 250ms
}


/* 日志内容 */
.widget-title h2,h3{
	font-family:"Futura Std";
	letter-spacing:.2em;
  font-weight:normal
}
.post-image img{
	max-width:100%;
	min-width: 100%;
}
.post-image h6{
	font-size: 13px;
	color:#757575;
	letter-spacing:.1em
}
.post-image h2{
	font-family: "Futura Std";
	text-transform:uppercase;
	color:#00081c;
	word-break:break-word;
	font-size:26px;
	letter-spacing:.2em;
	border-bottom:1px solid #c8c8c8
}
.post-image span{
	font-size:14px;
}
.post-image p{
	color:#000;
	font-size:18px;
	letter-spacing:.2em;
}